# Servidor
PORT=3001
NODE_ENV=development # Altere para 'production' no servidor real

# Banco de Dados
# Em produção, essa URL virá do provedor (ex: AWS RDS, Supabase, Neon)
DATABASE_URL="postgresql://user:password@localhost:5432/ACE?schema=public"

# Autenticação
# Dica: Gere uma secret forte com: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
JWT_SECRET="7f8e9a...sua_chave_gerada_aqui..."
JWT_REFRESH_SECRET="39fsa81...sua_chave_gerada_aqui..."

# Segurança (CORS)
# Liste a URL do seu Front-end aqui
CLIENT_URL="http://localhost:5173"